*
!Dockerfile.test
!go.mod
!go.sum
!cmd
!cmd/**
!internal
!internal/**
!migrations
!migrations/**
!web
!web/**
!tests
!tests/**
!packaging
!packaging/**
!scripts
!scripts/**
!dist
!dist/*.deb
!CHANGELOG.md
